services:

  tunnel:
    container_name: alnwick-tunnel
    hostname: tunnel
    image: ghcr.io/qdm12/gluetun
    devices:
    - /dev/net/tun:/dev/net/tun
    env_file:
    - .env
    cap_add:
    - NET_ADMIN
    restart: unless-stopped

  alnwick:
    container_name: alnwick
    build:
      context: ../../
      dockerfile: docker/cli/Dockerfile
    user: ${UID}:${GID}
    volumes:
    - /srv/shared/alnwick:/srv/shared/alnwick
    environment:
      EXPECT_IP: ${EXPECT_IP}
      EXPECT_COUNTRY: ${EXPECT_COUNTRY}
      CACHE_DIR: /srv/shared/alnwick/cache
      DATA_DIR: /srv/shared/alnwick/data
      SERVER_BASE: ${SERVER_BASE}
    network_mode: "service:tunnel"
    depends_on:
      tunnel:
        condition: service_healthy

  caddy:
    container_name: alnwick-caddy
    image: caddy:2-alpine
    user: ${UID}:${GID}
    ports:
    - "4000:80"
    volumes:
    - /srv/alnwick/caddy/data:/data
    - /srv/alnwick/caddy/config:/config
    - /srv/shared/alnwick/data/podcasts:/srv:ro
    restart: unless-stopped
    command: caddy file-server --browse --root /srv
